.LoginRegisterRoot {
  height: 100vh;
  display: flex;
  color: white;
}

.App__Aside {
  width: 50%;
  background-color: #66DAC7;
}

.App__Form {
  width: 50%;
  background-color: #2E4158;
  padding: 25px 40px;
  overflow: auto;
}

.PageSwitcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.PageSwitcher__Item {
  background-color: #4C5D72;
  color: #9DA6B1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.PageSwitcher__Item--Active {
  background-color: #5ED0C0;
  color: white;
}

.PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.FormCenter {
  margin-bottom: 100px;
}

.FormTitle {
  color: #707C8B;
  font-weight: 300;
  margin-bottom: 50px;
}

.FormTitle__Link {
  color: #707C8B;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid #199087;
}

.FormField {
  margin-bottom: 40px;
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: white;
}
.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.FormField__Input::placeholder {
  color: #616E7F;
}

.FormField__Button {
  background-color: #52C4B9;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: .8em;
  font-weight: 500;
}

.FormField__Link {
  color: #66707D;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #225E62;
  padding-bottom: 5px;
}

.FormField__CheckboxLabel {
  color: #646F7D;
  font-size: .9em;
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
}

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid #199087;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}






















.TrainSelection body{
  font-family: Raleway;
  color: #555;
  background: #ff5252;
  margin: 10px 30px;
}
#homepage{
  max-width: 1300px;
  margin: 60px auto;
  padding: 10px 20px;
  background: #fdfdfd;
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
.TrainSelection input[type="text"]{
  width: 220px;
  height: 10px;
  margin: 20px 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
.TrainSelection label{
  font-weight: bold;
  color: black;
  padding-right: 20px;
}
.TrainSelection title{
  color: #fff;
  text-align: center;
  font-size: 48px;
}
#homepage h1{
  text-align: center;
}
.TrainSelection form{
  max-width: 1300px;
}
.TrainSelection input[type="submit"]{
  background: #555;
   color: #fff;
   border: 0;
   padding: 10px;
   font-size: 18px;
   width: 200px;
   margin: 0 auto;
   display: block;
   cursor: pointer;
   border-radius: 4px;
}
.TrainSelection ul{
  margin: 0;
  padding: 0;
}

.TrainSelection span{
  display: inline-block;
  margin: 0 20px;
}
.TrainSelection span.dist{
  color: green;
  float: right;
}
.TrainSelection span.true{
  border-radius: 10px;
  width: 10px;
  height: 10px;
  background: green;
}
.TrainSelection span.false{
  border-radius: 10px;
  width: 10px;
  height: 10px;
  background: #ff5252;
}
.TrainSelection button{
  background: lightsteelblue;
  border: 0;
  padding: 5px 10px;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
}
.TrainSelection button.false{display: none;}

ul#horizontal-list-ts {
	min-width: 696px;
	list-style: none;
  padding-top: 20px;
  padding-bottom: 60px;
	}
	ul#horizontal-list-ts li {
    display: inline;
    padding-right: 40px;
    padding-left: 100px;
  }
  

.table{
  display: Table;
  margin: 0 auto;
  
}

table{
  table-layout: fixed;
  width:100%;
}

td{
  width: 100%;
  cursor:pointer;
  padding-left: 70px;
}

th {
  padding-left: 70px;
}



.spanLayout{
  table-layout: fixed;
}








.Payment body{
  font-family: Raleway;
  color: #555;
  background: #ff5252;
  margin: 10px 30px;
}
#homepage{
  max-width: 1300px;
  margin: 60px auto;
  padding: 10px 20px;
  background: #fdfdfd;
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
.Payment input[type="text"]{
  width: 200px;
  height: 10px;
  margin: 20px 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
.Payment label{
  font-weight: normal;
  color:black;
  padding-right: 20px;
}
.Payment title{
  color: #fff;
  text-align: center;
  font-size: 48px;
}
#homepage h1{
  text-align: center;
}
.Payment form{
  max-width: 1300px;
}
.Payment input[type="submit"]{
  background: #555;
   color: #fff;
   border: 0;
   padding: 10px;
   font-size: 18px;
   width: 200px;
   margin: 0 auto;
   display: block;
   cursor: pointer;
   border-radius: 4px;
}

.trainBox input[type="text"]{
  width: 150px;
  height: 10px;
  margin: 20px 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.paymentBox input[type="text"]{
  width: 150px;
  height: 10px;
  margin: 20px 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.paymentBox input[type="password"]{
  width: 150px;
  height: 10px;
  margin: 20px 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}


.trainBox input[type="date"]{
  width: 150px;
  height: 10px;
  margin: 20px 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

#noOfTickets {
  width: 150px;
  height: 10px;
  margin: 20px 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid blue;
}


#dot {
  width: 150px;
  height: 10px;
  margin: 20px 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid blue;
}



.Payment ul{
  margin: 0;
  padding: 0;
}

.Payment span{
  display: inline-block;
  margin: 0 20px;
}
.Payment span.dist{
  color: green;
  float: right;
}
.Payment span.true{
  border-radius: 10px;
  width: 10px;
  height: 10px;
  background: green;
}
.Payment span.false{
  border-radius: 10px;
  width: 10px;
  height: 10px;
  background: #ff5252;
}
.Payment button{
  background: lightsteelblue;
  border: 0;
  padding: 5px 10px;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
}


#proceedButton{
  background: lightsteelblue;
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom:10px;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
}

#confirmPayment{
  background: lightsteelblue;
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom:10px;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
}



#proceedContainer{
  padding-bottom:30px;
}

#paymentButtonCt{
  padding-bottom:30px;
  padding-top:30px;
}


.Payment button.false{display: none;}

ul#horizontal-list-p {
	min-width: 696px;
	list-style: none;
  padding-top: 20px;
  padding-bottom: 30px;
	}
	ul#horizontal-list-p li {
    display: inline;
    padding-right: 65px;
    padding-left: 45px;
  }
  
  ul#horizontal-list-pp {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 30px;
    }
    ul#horizontal-list-pp li {
      display: inline;
      padding-right: 30px;
      padding-left: 45px;
    }

  ul#horizontal-list-ppp {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 30px;
    }
    ul#horizontal-list-ppp li {
      display: inline;
      padding-right: 30px;
      padding-left: 30px;
    }
    

.table{
  display: Table;
  margin: 0 auto;
  
}

table{
  table-layout: fixed;
  width:100%;
}

td{
  width: 100%;
  cursor:pointer;
}

.spanLayout{
  table-layout: fixed;
}












.Summary body{
  font-family: Raleway;
  color: #555;
  background: #ff5252;
  margin: 10px 30px;
}
#homepageSummary{
  max-width: 800px;
  margin: 60px auto;
  padding: 10px 20px;
  background: #fdfdfd;
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
.Summary input[type="text"]{
  width: 200px;
  height: 10px;
  margin: 20px 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
.Summary label{
  font-weight: normal;
  color:black;
  padding-right: 20px;
}
.Summary title{
  color: #fff;
  text-align: center;
  font-size: 48px;
}
#homepage h1{
  text-align: center;
}
.Summary form{
  max-width: 1300px;
}
.Summary input[type="submit"]{
  background: #555;
   color: #fff;
   border: 0;
   padding: 10px;
   font-size: 18px;
   width: 200px;
   margin: 0 auto;
   display: block;
   cursor: pointer;
   border-radius: 4px;
}

.trainBox input[type="text"]{
  width: 150px;
  height: 10px;
  margin: 20px 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.SummaryBox input[type="text"]{
  width: 150px;
  height: 10px;
  margin: 20px 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.SummaryBox input[type="password"]{
  width: 150px;
  height: 10px;
  margin: 20px 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}


.trainBox input[type="date"]{
  width: 150px;
  height: 10px;
  margin: 20px 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

#noOfTickets {
  width: 150px;
  height: 10px;
  margin: 20px 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid blue;
}


#dot {
  width: 150px;
  height: 10px;
  margin: 20px 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid blue;
}



.Summary ul{
  margin: 0;
  padding: 0;
}

.Summary span{
  display: inline-block;
  margin: 0 20px;
}
.Summary span.dist{
  color: green;
  float: right;
}
.Summary span.true{
  border-radius: 10px;
  width: 10px;
  height: 10px;
  background: green;
}
.Summary span.false{
  border-radius: 10px;
  width: 10px;
  height: 10px;
  background: #ff5252;
}
.Summary button{
  background: lightsteelblue;
  border: 0;
  padding: 5px 10px;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
}


#proceedButton{
  background: lightsteelblue;
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom:10px;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
}


#proceedContainer{
  padding-bottom:30px;
}


.Summary button.false{display: none;}

ul#horizontal-list-p {
	min-width: 696px;
	list-style: none;
  padding-top: 20px;
  padding-bottom: 30px;
	}
	ul#horizontal-list-p li {
    display: inline;
    padding-right: 65px;
    padding-left: 45px;
  }
  
  ul#horizontal-list-pp {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 30px;
    }
    ul#horizontal-list-pp li {
      display: inline;
      padding-right: 30px;
      padding-left: 45px;
    }

  ul#horizontal-list-ppp {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 30px;
    }
    ul#horizontal-list-ppp li {
      display: inline;
      padding-right: 30px;
      padding-left: 30px;
    }
    

.table{
  display: Table;
  margin: 0 auto;
  
}

table{
  table-layout: fixed;
  width:100%;
}

td{
  width: 100%;
  cursor:pointer;
}

.spanLayout{
  table-layout: fixed;
}